<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%=@commenter.first_name%> responded to your post on "<%=@str%>..."</h3>
    <p>Response: "<%=@comment.text%>"</p>
    ------------------------------------------------------
    <p>Respond here: <%=@url%></p>
  </body>
</html>