<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @profileposts != nil %>
      <p><%= @profileposts %></p>
    <% end %>
    
    <% if @groupposts != nil %>
      <% @groupposts.each do |group, string| %>
        <p><%=string%></p>
      <% end %>
    <% end %>
  
  </body>
</html>