<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Message from <%=@sender.first_name + " " + @sender.last_name%>:</h3>
    <p><%=@message%></p>
    ------------------------------------------------------
    <p>Respond here: <%=@url%></p>
  </body>
</html>