<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%=@str%></h3>
    ------------------------------------------------------
    <p>View here: <%=@url%></p>
  </body>
</html>