<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Project Help</h3>
    
    <p>Thank you for being one of our very first users! You can now start requesting help from your network and listing topics you'd like to help your network with. And don't hesitate to start reaching out to your network, they specifically joined because they want to help you!</p><br>

    <p>This is far from a finished product, and you're actually using the first working prototype. So if you have any questions or feedback at all, please send us an email at support@projecthelp.com. We're constantly learning and iterating to build a better product every day.</p><br>
	
	<p><b>About Project Help</b></p>
	<p>This site was built because we wanted to live in a world where people were better at helping each other. Better at giving help, and better at asking for help. If this idea resonates with you and you want to get involved, send us an email at help@projecthelp.com.</p>
  </body>
</html>