<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Project Help</h3>
    
    <p>Thank you for being one of our very first users! You can now start requesting help from your network and listing topics you'd like to help your network with</p>

    <p>If you have any questions or feedback, please send us an email at support@projecthelp.com</p>
	
	<p><b>About Project Help</b></p>
	<p>This site was built because we believe that the world would be a much better place if we were all better at helping each other. Better at giving help, and better at asking for help.</p>
  </body>
</html>