<h1>Conversations#show</h1>
<p>Find me in app/views/conversations/show.html.erb</p>

<% if @conversation.user1_id == current_user.id %>
	<% convo_user = @conversation.user2 %>
<% else %>
	<% convo_user = @conversation.user1 %>
<% end %>

<div id="inbox-container" class="col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
	  <div class="panel-heading"><a href="/inbox">Inbox</a> > with <%= convo_user.first_name + " " + convo_user.last_name%> </div>
	  <!-- List group: print out a conversation heading in each list item -->
	  <div class="panel-body">
	  	WHAT WHATT
	  </div>
	</div>
</div>
