
<div class="form-group help-topics">
	<%#= f.label :title, "New Topic" %>
	<%= f.text_field :title, class: "form-control", placeholder: "Topic e.g. Resume writing, Startups, or Skiing" %>
	<%= f.text_area :description, class: "form-control", placeholder: "Description e.g. I've worked at 3 different startups across different growth stages. Happy to discuss what it was like working at a startup and what they're looking for in candidates." %>
	<a href="" class="add-topic-submit-add">Add another topic</a><br>
	<button class="add-topic-cancel btn btn-default">Cancel</button> 
	<button class="add-topic-submit btn btn-primary">Submit</button>
	<!-- <button class="add-topic-submit-add btn btn-success">Add another</button>  -->
</div>