
<div class="form-group help-topics">
	<%= f.label :title, "Topic #" %>
	<%= f.text_field :title, class: "form-control", placeholder: "Topic" %>
	<%= f.text_area :description, class: "form-control", placeholder: "Description" %>
</div>