
<% if save_obj.errors.any? %>
	<div id="error_explanation">
	  <h4>
	    <%= pluralize(save_obj.errors.count, "error") %> prohibited
	    this <%=save_str%> from being saved:
	  </h4>

	  <ul>
	  <% save_obj.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
<% end %>