// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
	padding-top:50px;
}

.dashboard-container
{
	margin-top:20px;
}

#topic-search-glyph a
{
	color:inherit;
}

.dashboard-group-posts
{
	overflow:hidden;
}

.dashboard-group-item
{
	overflow:hidden;
}

#groups-people-main .post-text p
{
	margin-bottom:10px;
	/*line-height:15px;*/
}

#groups-people-main .post-div
{
	margin-top:inherit;
	margin-bottom:15px;
	overflow:hidden;
	font-size:14px;
}

.post-div p
{
	margin:2px;
}

.recent-posts-label
{
	font-size:16px;
}

.topic-sub-list a
{
	font-size:13px;
}

.featured-user-name
{
	font-size:14px;
	font-weight:bold;
	margin-bottom:0px;
	margin-top:0px;
}

.featured-user-role
{
	font-size:12px;
	font-style:italic;
	margin-bottom:2px;
}

.featured-user-topics
{
	margin-top:5px;
	font-size:12px;
	margin-bottom:0px;
}

.group-heading
{
	margin-bottom:20px;
}

.all-users-name
{
	font-size:14px;
	font-weight:bold;
	margin-bottom:-1px;
	margin-top:0px;
}

#people .all-users-name
{
	margin-bottom:-1px;
}

.all-users-role
{
	margin-top:0px;
	font-size:13px;
	font-style:italic;
}

.all-users-topics
{
	font-size:12px;
	margin-top:3px;
	height:55px;
	overflow:hidden;
	margin-bottom:5px;
}

.all-users-description
{
	font-size:12px;
	height:54px;
	overflow:hidden;
}

.all-users-info
{
	height:60px;
}

.all-users-view-profile
{
	margin-top:5px;
	text-align: center;
}

#join-group-button
{
	margin-top:20px;
}

#add-group-button
{
	margin-left:20px;
	margin-top:20px;
}