// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
	padding-top:50px;
}

#container textarea
{
	height:70px; 
  	min-height:70px;  
  	max-height:70px;
}

#container .form-container
{
	padding-left: 0px;
}

/* User registration part II */

#container #description-field
{
	margin-top: 20px;
}

#container #topics-field-heading
{
	margin-top: 25px;
}


/*User Show CSS ------------------------------------------*/
#profile-header
{
	margin-top:20px;
	margin-left:-20px;
	padding-left:0px;
	min-height:300px;
}

	#profile-header #profile-pic-name
	{
		padding-left:0px;
		padding-right:0px;
		overflow:hidden;
		margin-bottom:0px;
	}

	#profile-header .well
	{
		
	}
	
	#profile-info h2
	{
		margin-bottom:15px;
	}
	#profile-help-topics
	{
		height:65px;
		min-height:65px;
		max-height:65px;
	}

	#profile-info
	{
		margin-bottom:20px;
	}

	#posts
	{
		margin-top:20px;	
		float:right;	
	}

	#profile-pic-container
	{
		margin-right:20px;
	}

	#profile-info
	{
		margin-left:15px;
	}

	#profile-info h2
	{
		margin-top:0px
	}

#help-topics
{
	float:right;
	margin-top:20px;
	min-height:300px;
}
	
	#help-topics h3
	{
		margin-top:0px;
	}

	#help-topics .topic-group
	{
		margin-top:20px;
	}

	#help-topics .topic-title
	{
		margin-bottom:0px;
	}

	.help-topics .form-control
	{
		margin-bottom: 10px;
	}

#messageModal textarea
{
	height:150px;
	min-height:150px;
	max-height:150px;
}

.post-div
{
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
}
.post-div p
{
	margin:2px;
}

.post-div .post-time
{
	size:12px;
}

.comment-div
{
	margin-top:5px;
	/*margin-bottom:10px;*/
	/*padding-left:30px;*/
}

.new-comment-form
{
	margin-top:10px;
}

/*Edit Profile CSS ----------------------------------------*/
#edit-container
{
	margin-top:20px;
}

#edit-container textarea
{
	height:70px; 
  	min-height:70px;  
  	max-height:70px;
}

.add_fields
{
	margin-bottom:10px;
}

#add-topic-heading h4
{
	margin-bottom:0px;
}

/*Network page CSS ----------------------------------------------------*/
#user-frame-container .user-frame
{
	padding:10px 15px 10px 15px;
	display:inline-block;
	margin-right:40px;
	height:430px;
	width:260px;
	margin-bottom:30px;
}
	.user-frame .user-frame-img-holder
	{
		text-align:center;
	}

	.user-frame .user-frame-name
	{
		text-align:center;
	}

	.user-frame .user-frame-help-topics
	{
		margin-bottom:2px;
	}
	
	#user-frame-container .user-frame .description-div
	{
		white-space: wrap;
	  	overflow: hidden;
	  	height:82px;
	  	margin-bottom:15px;
	}

	#user-frame-container .user-frame .helpoffers-div
	{
		white-space: wrap;
	  	overflow: hidden;
	  	margin-top:5px;
	  	margin-bottom:10px;
	  	height:75px;
	}

	#user-frame-container .user-frame .viewprofilebtn-div
	{
		text-align:center;
	}