// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Welcome screen ---------------------------------------------------------------------------------

#helloworld
{
	/*width:200px;*/
	padding-right:10px;
}

.welcome-form-container
{
	float:right;
}

.welcome-form-container #register .form-group
{
	overflow:hidden;
}

.welcome-form-container #register #first-name-input
{
	padding-left:0px;
	padding-right:5px;
}

.welcome-form-container #register #last-name-input
{
	padding-right:0px;
	padding-left:5px;
}

#welcome-container
{
	background-color:#eeeeee;
	overflow:hidden;
}

#welcome-footer
{
	text-align:right;
	padding-right:30px;
}

// Introduction screen ---------------------------------------------------------------------------------
#intro-container
{
	margin-left:70px;
}
.intro-image
{
	width:100%;
}

.right-arrow
{
	width:80px;
}

.intro-image-container
{
	margin-top:20px;
	color:#666666;	
}

.next-arrow
{
	font-size:60px;
	margin-top:220px;
}

.next-arrow p
{
	margin-top:-10px;
	font-size:25px;
	font-weight:bold;
	text-align: center;
}
.next-arrow a
{
	color:black;
}

.next-arrow:hover a
{
	font-size:60px;
	margin-top:225px;
	color:gray;
}